body {
    font-family: Oxygen, sans-serif;
    color: #64b5f6;
}

.main-svg {
    margin: 0 200px 200px 200px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-line {
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
    stroke: #7D95B6;
}

.price-circle {
    fill: #fff;
    stroke-width: 2;
    stroke: #7D95B6
}

.chart-info {
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 18px;
}

.axis {
    text-anchor: end;
    font-family: Oxygen, sans-serif;
    color: #64b5f6;
}

.overlay {
    fill: none;
    pointer-events: all
}