body {
    font-family: Oxygen, sans-serif;
    color: #2980b9;
}

.main-svg {
    margin: 0 200px 0 200px;
}

.main-heading {
    margin: 0;
}

.date-picker {
    display: flex;
    margin-top: 10px;
}

.start-date {
    margin-left: 20px;
}

.end-date {
    margin-left: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-line {
    fill: none;
    stroke-width: 2px;
    stroke-dasharray: 3;
    stroke: #7D95B6;
}

.price-circle {
    fill: #fff;
    stroke-width: 2;
    stroke: #7D95B6
}

.data-availability-text {
    margin: 0;
}

.chart-info {
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 730px;
    justify-content: space-evenly;
    margin-top: 10px;
}

.chart-info__date {
    width: 210px;
}

.chart-info__price {
    width: 215px;
    margin-left: 60px;
}

.chart-info__volume {
    width: 240px;
}

.axis {
    text-anchor: end;
}

.overlay {
    fill: none;
    pointer-events: all
}